{% extends 'shop/layouts/main.html' %}
{% block title %}
Login | Shopkart
{% endblock title %}
{% block content %}
<div class="container my-5" style="margin-top: 70px;">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3 mt-3">Login</h4>
            <hr style="border-color: #b8bfc2">
        </div>
    </div>
</div>
<section class="py-4 my-5" style="min-height: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-6">
               
                <p class="my-2">Already user ? <a href="#">Login Now</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}